.comics-field
  %center
    %h2
      Comics
  .comics-blank
    = has_any_comics? @character
  - @character.comics.each do |comic|
    .jumbotron.jumbotron-comic
      .image
        = image_tag comic.image + "/portrait_medium.jpg"
      .container.title
        %h4
          Title:
        %p
          = comic.title
      %h4
        Cover Number:
      %p
        = comic.cover_number